
body {

  background: linear-gradient(rgba(179, 179, 88, 0.5), rgba(241, 241, 143, 0.5)),
  url('C:\Users\idilg\Desktop\ShopList\img\background.jpg');
background-size: cover;
background-position: center;
  margin:0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sp-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap:40px;
}
a {
  text-decoration: none;
}
.sp-header{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  padding: 8px 50vh;
  gap:50px;
  background-color:lightyellow;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100px;
  font-size: 40px;
  width: 100%;
  text-align: start;
  color:darkblue;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightyellow;
  color:darkblue;
  padding:50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sp-link {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100px;
  width: 90px;
  height: 90px;
  background:#fff;
  color:darkblue;
  font-size: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
 
}

.sp-link:hover {
  background-color: lightslategray;
  color: lightyellow;
}
.sp-body{
  margin-top:20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:50px;
}

.uyelink {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100px;
  width: 90px;
  height: 90px;
  background:#fff;
  color:darkblue;
  font-size: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.uyelink:hover  {
  background: lightslategray;
  color:lightyellow;
}

.girislink {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100px;
  width: 90px;
  height: 90px;
  background:#fff;
  color:darkblue;
  font-size: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.girislink:hover {
  background: lightslategray;
  color:lightyellow;
}


